* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	background-color: #FFFFFF;
	min-height: 100vh;
	min-width: 100vw;
}

a {
	text-decoration: none;
	color: #000000;
}

.vl {
	height: 10vh;
	border-left: 2px solid;
	margin: 0 2vw 0 2vw;
}

.container-info {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-evenly;
	width: 100vw;
	height: 92vh;
}

.container-perfil-depositos {
	display: flex;
	flex-flow: column;
	justify-content: space-evenly;
	align-items: center;
	width: 54vw;
	height: 90vh;
}

.container-coletor-ranking {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	height: 50vh;
}

.item-coletor-ranking {
	display: flex;
	flex-flow: row nowrap;
	background-color: #E8EDDE;
	align-items: center;
	border-radius: 5px;
	height: 7.5vh;
	width: 25vw;
}

.container-perfil {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: flex-start;
	background-color: #E8EDDE;
	border-radius: 10px;
	height: 25vh;
	width: 54vw;
	padding: 1vw;
}

#foto-coletor {
	border-radius: 100%;
	height: 16vh;
	width: 8vw;
	background-color: #FFFFFF;
	border: 2px solid balck;
}

.nome-coletor {
	font-size: 3vh;
	font-weight: bold;
	margin-bottom: 1vh;
}

.endereco-coletor {
	font-size: 2.5vh;
	margin-top: 1vh;
}

.ranking {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 44vw;
	height: 90vh;
	background-color: #F5F4F3;
	border-radius: 10px;
}

.container-ranking {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-items: center;
	width: 95%;
	height: 80%	
}

.item-ranking {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	height: 5%;
	width: 70%;
	border-radius: 5px;
}

.container-coletor-ranking {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	height: 6%;
	width: 70%;
	background-color: #E8EDDE;
	border-radius: 5px;
}

.proximo-deposito {
	display: flex;
	flex-flow: column nowrap;
	align-items:center;
	width: 54vw;
	height: 64vh;
	background-color: #F5F4F3;
	border-radius: 10px;
	padding: 1vw;
	margin-top: 1vw;
}

.proximo-deposito span {
	font-weight: bold;
	font-size: 2.5vh;
	margin: 3vh 0 3vh 0;
}

.ranking span {
	font-weight: bold;
	font-size: 2.5vh;
	margin: 3vh 0 3vh 0;
}

#title {
	align-self: flex-start;
	margin-left: 1vw;
	font-size: 2vh;
	font-weight: bold;
}

.item-deposito {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	padding: 1vh;
	height: 50%;
	width: 95%;
}

.container-acoes {
	align-self: flex-start;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	align-items: center;
	height: 5vh;
	width: 4vw;
}

.container-acoes svg {
	height: 3vh;
	width: 2vw;
}