* {
    box-sizing: border-box;
  }
  
  body {
      background-color: #F4F3F2;
  }
  
  footer {
      display: block;
      background-color: #0D0D0D;
      color: #F4F3F2;
      border-radius: 10px;
      padding: 25px;
      text-align: center;
  }
  
  footer a {
      color: #F4F3F2;
      text-decoration: none;
      margin: 0 30px;
  }
  
  nav {
  border: solid 1px;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  background-color: #439E6F;
  }
  
  .flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  h1 {
      font-size: 35px;
  }
  
  h2 {
      font-size: 25px;
  }
  
  .buttonDelete {
      background-color: #FF493E;
  }
  
  .ButtonEntrar {
      background-color: #0D0D0D;
      color: #F4F3F2;
      width: 350px;
      height: 50px;
      border-radius: 10px;
  }
  
  .ButtonCriarConta {
      background-color: #F4F3F2;
      color: #0D0D0D;
      width: 300px;
      height: 50px;
      border-radius: 10px;
  }
  
  
  
  .recuperarSenhaEmail{
      display: block;
      width: 300px;
      height: 70px;
      text-align: left;
      border-radius: 12px;  
      font-size: 40px;
      margin: 5px auto;
  }  
  
  #RecuperarSenha{
      display: block;
      text-align: center;
      font-size: 500%;
      margin: auto;
      margin-bottom: 100px;
  }
  
  #Recuperar{
      display: block;
      background-color: #0D0D0D;
      color: #F4F3F2;
      width: 300px;
      height: 70px;
      font-size: 40px;
      margin: 100px auto;
  }
  
  #cadastrar{
    display: block;
    background-color: #0D0D0D;
    color: #F4F3F2;
    height: 79px;
    width: 450px;
    font-size: 48px;
    margin: auto;
  }
  
  #novo-Material-H1{
    font-size: 60px;
    color: #0D0D0D;
  }
  
  #nome_material{
    display: block;
    height: 70px;
    width: 600px;
    font-size: 40px;
    margin: auto;
    margin-bottom: 30px;
	}

  #nomeReciclável{
    display: block;
    margin: auto;
    height: 70px;
    width: 600px;
    font-size: 40px;
  }
  .h2-mini-name{
    font-size: 40px;
    text-align: center;
  }
  #escolher-material{
    display: block;
    margin: auto;
    height: 70px;
    width: 600px;
    font-size: 40px;
  }
  #pontos-carbono{
    display: block;
    margin: auto;
    height: 70px;
    width: 600px;
    font-size: 40px;
  }
  #peso-reciclavel{
    display: block;
    margin: auto;
    height: 70px;
    width: 600px;
    font-size: 40px;  
  }
  #volume-reciclavel{
    display: block;
    margin: auto;
    height: 70px;
    width: 600px;
    font-size: 40px;
  }
  #instrucao-reciclavel{
    display: block;
    margin: auto;
    height: 70px;
    width: 600px;
    font-size: 40px;
  }
  #cadastrar-reciclavel{
    display: block;
    margin: auto;
    height: 70px;
    width: 600px;
    font-size: 40px;
  }
  .Cadastro-coletor-Font50{
    font-size: 50px;
    padding-left: 20px;
  }
  #Cadastro-coletor-apresentacao{
    margin-top: 87px;
    font-size: 35px;
  }

  
  ::placeholder{
    color: #0D0D0D;
    background-color: #F4F3F2;
  }
